@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Rubik+Bubbles&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    height: 100px;
    background-color: rgb(42, 109, 28);	
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    box-shadow: 2px 1px 6px rgb(158, 158, 158) ;
}
#logo{
    font-size: 2.4rem;
    color:#d18d0e;
    font-family: "Audiowide", sans-serif;
    font-weight: 550;
    text-shadow: 1px 1px  #ffffff;
    border-bottom: 1px solid #d18d0e;
    box-shadow: 0px 1px rgb(255, 255, 255);
    
}
#imag-menu img{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    text-align: center;
    width: 70px;
}
.img-intro-excel1{
    max-width: 100%;
    height: auto;
    border-radius: 100px;
    border: 1px solid #2B730D;
    margin: 10px 0; 
}
#texto-intro{
font-size: 2.5em;
color: #2B730D;
font-family: "Bungee", sans-serif;
text-align: end;
}
#container-header{
background-color: white;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: center;
margin: 15px;
}
#artigo-intro{
    width: 90vw;
    margin: auto;
    padding: 0 20px;
    text-align: justify;
}
#artigo-intro h2{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Bungee", sans-serif;
    color: #616161;
    font-size: 2em;
}
#artigo-intro p{
    margin-bottom: 20px;
    font-size: 1.2em;
}
#navigation{
    display: flex;
    gap: 30px;  
}
#navigation li a{
    font-size: 1.3rem;
    color: white;
}

#navigation li a:hover{
    font-size: 1.3rem;
    color: #f1ae32;
}
#paragraf-logo{
    align-items: center;
    text-align: center;
    font-size: 0.6em;
    color: #d18d0e;
    border-bottom: 1px solid rgba(153, 153, 153, 0.589);
    font-family: 'Courier New', Courier, monospace;
    text-align: end;
}
#closeMenu, #openMenu{
    border: none;
    background: none;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    display: none;
    color: #f1ae32;
    font-size: 28px;
    text-shadow: 0px 1px #ffffff;
}
#openMenu:hover{
    background-color: white;
    color: #2B730D;
    border-radius: 50%;
}
#closeMenu{
    position: fixed;
    right: 15px;
    top: 15px;
}

.slideshow-container {
        position: relative;
        max-width: 60%;
        margin: auto;
        overflow: hidden;
        height: 500px;
        line-height: 500px;
}
.video-container {
    
    position: relative;
    padding-bottom: 30%;
    overflow: hidden;
    max-width: 50%;
    background: #000;
    margin: 20px auto;
    border-radius: 5px;
}


.video-container iframe {
    display: inline;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
@media only screen and (max-width: 717px){
    #openMenu, #closeMenu{
    display: block;
    color: #f1ae32;
    }
    #closeMenu:hover{
    color: #2B730D;
    }
    #navigation {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.975);
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out; 
    }
    
    #navigation li a {
        color: #2B730D;
    }
    #navigation.open {
        transform: translateX(0);
    }

    .video-container {
        max-width: 80%;
        
    }
    

}

@media (max-width: 550px){
    #texto-intro{
        font-size: 1.8em;       
    }
    #paragraf-logo{
        font-size: 0.5em;
    }
}
@media (max-width: 450px){
    #logo{
        font-size: 3em;
    }
    #texto-intro{
        font-size: 1em;       
    }
    #paragraf-logo{
        font-size: 0.41em;
        margin: 0 5% 0 8%;

    }

    #imag-menu img{
        width: 35px;   
    }
    #artigo-intro h2{
        font-size: 1.2em;
    }
    #artigo-intro p{
        font-size: 1em;
    }
    .video-container {
    
        padding-bottom: 50%;
    }
    .slideshow-container {
        height: 150px;
        line-height: 200px;
        max-width: 100%;
    }
}

footer{
    background-color: rgb(16, 29, 5);
    height: 300px;
    text-align: center;
    color: #ffffff;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#footer-principal{
    font-size: 1.2em;
}

